*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background: #111;
}

.container {
  width: 90%;
  height: 100%;
  margin: auto;
}

/* ******************** Button ******************** */

.btn {
  border: none;
  text-decoration: none;
  background: rgb(70, 180, 248);
  color: white;
  font-size: 1em;
  align-self: center;
  padding: 10px 15px;
  margin-top: 1em;
}

.btn:hover {
  background: #2183f2;
}

/* ******************** Heading ******************** */

.heading {
  display: flex;
  align-items: center;
  padding: 1em;
  font-size: 20px;
  border-bottom: 2px double rgb(70, 180, 248);
}

.heading h1 {
  flex-grow: 2;
  text-align: center;
  color: white;
}

.menu {
  flex-grow: 0;
  font-size: 16px;
  color: white;
  cursor: pointer;
}

.menu:hover {
  color: rgb(70, 180, 248);
}

.home-btn {
  flex-grow: 0;
  border: none;
  padding: 8px 10px;
  background: none;
  font-size: 16px;
  border: 1px solid white;
  color: white;
  cursor: pointer;
}

.home-btn:hover {
  background: rgb(70, 180, 248);
  color: white;
  border: 1px solid rgb(70, 180, 248);
}

/* ******************** Side Bar ******************** */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  text-align: justify;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: rgb(70, 180, 248);
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* ******************** JS Part ******************** */

.jspart {
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  gap: 1em;
  margin: 1em;
  overflow: auto;
  min-height: 80vh;
  height: 80vh;
}

.jspart h1 {
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 1em;
  margin: 0 1em;
  border-bottom: 1px solid rgb(73, 72, 72);
  color: white;
}

.jspart p {
  font-size: 14px;
  color: white;
  padding-top: 1em;
}

/* ******************** JS Content ******************** */

.box {
  background: rgb(27, 27, 27);
  padding: 1em;
  margin: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  min-width: 300px;
  max-height: 300px;
}

.box:hover {
  box-shadow: 1px 1px 20px -2px rgb(66, 65, 65);
}

:target {
  box-shadow: 1px 1px 20px -2px rgb(66, 65, 65);
}

@media (max-width: 1500px) {
  .jspart {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

@media (max-width: 620px) {
  .content {
    justify-content: center;
  }

  .heading h1 {
    font-size: 30px;
  }

  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
